
body {
    margin: 0;
}

.navbar {
    background-color: #333;
    padding:10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo img {
    height: 20px;
}

.search-box {
    flex: 1;
    display: flex;
    justify-content: center;
}


.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    color: #ffcc00;
}

.navbar li {
    transition: transform 0.2s var(--d);
}

.navbar li:hover {
    transform: translateY(-10px);
}



#progress-bar {
    /* Posição e dimensões */
    position: fixed;
    top: 0;
    left: 0;
    height: 4px; /* Altura da barra */
    width: 0%; /* Inicialmente, a barra tem 0% de largura */
    z-index: 1000; /* Garante que fique acima de outros elementos */

    /* Estilização */
    background-color: #1E90FF; /* Cor da barra (ex: azul) */
    /* Transição suave para a animação da barra */
    transition: width 0.2s ease-out; 
}