
<link rel="stylesheet" href="../style/style-footer.css">
<footer class="footer">

          
    <div class="search-box">
        <input type="text" placeholder="Custos...">
        <button>Pesquisar</button>
    </div>

    <div class="footer-container">

        <div class="footer-section">
            <h3>About Us</h3>
            <p>We provide cloud computing solutions with a broad catalog of services tailored to businesses of all sizes.</p>
        </div>

        <div class="footer-section">
            <h3>Links</h3>
            <ul>
                <li><a href="../index.html">Sobre</a></li>
                <li><a href="../page/index-mercado.html">Mercado</a></li>
                <li><a href="../page/index-custos.html">Custos</a></li>

            </ul>
        </div>

        <div class="footer-section">
            <h3>Contact</h3>
            <p>Email: marcos.jlf@aluno.ifsc.edu.br</p>
            <p>Phone: 123 456 789</p>
        </div>

        <div class="social-icons">
            <h3>Follow Us</h3>
            <a href="#">🐦</a>
            <a href="#">📷</a>
            <a style="font-size: small;" href="#" target="_blank">GitHub</a>
            <a style="font-size: small;" href="#" target="_blank">Facebook</a>
            <a style="font-size: small;" href="#" target="_blank">Youtube</a>
            <a style="font-size: small;" href="#" target="_blank">Clash of Clans</a>
        </div>


        <div class="footer-section">
            <h3>Terms</h3>
            <p><a href="#">Our terms regarding your data</a></p>
            <p><a href="#">policy</a></p>

        </div>

    </div>

</footer>